<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cityu.ast.movieordersystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:label="@string/app_name" android:name=".RegisterActivity"/>
        <activity android:label="@string/app_name" android:name=".HomeActivity"/>
        <activity android:label="@string/app_name" android:name=".MDescription"/>
        <activity android:label="movieOrderSystem" android:name=".CartActivity"/>
        <activity android:label="@string/app_name" android:name=".zFindMain"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>